body {
    margin: 20px;   
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
    font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem; 
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 1.5px;
    color: rgb(1, 8, 14);
}

html    {
    scroll-behavior: smooth;
}
.alignR {
    text-align: right;
}
a   {
    border: 1px solid;
    padding: 15px;
    box-shadow: 2px 5px #18c1ff;
    text-transform: uppercase;
    color: rgb(62, 37, 4);
    font-size: medium;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px;
}
h1  {
    font-size: 70px;
    padding-left: 50px;
    text-align: center;
    padding-top: 100px;
    color: #7171e8;
    display: block;
    line-height: 100%;
    letter-spacing: -1px;
}
h2  {
    font-family: cursive;
    font-size: 35px;
    text-align: start;
    margin: 20px;
}
.profile-img    {
    border-radius: 50%;
    width: 10em;
    height: 12em;

}
a:link  {
    
}
a:hover {
    color: #0000ff;
} 
.center {
    text-align: center;
}
h3  {
    font-size: xx-large;
    padding-top: 40px;
    color: #26c9ab;
    font-family: cursive;
}
h4  {
    font-size: x-large;
    font-family: 'cursive';
    color: #c926ba;
}
.projects   {
    font-size: 18px;
    font-style: italic;
    text-align: center 
}
.center {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}
#timeline {
background: #a3a3e1;
}

.timeline {
        width: 400px;
        margin: auto;
        padding-top: 60px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 60px;
}
.about-me   {
    padding-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: right;
}
p:nth-child(odd) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 0 30px 30px;
}
p::before {
    content: "";
    position: absolute;
    width: 50%;
    border: dotted rgb(8, 14, 193);
}
p {
    margin: 0;
    counter-increment: section;
    position: relative;
}

p:nth-child(even) {
    padding: 30px 30px 30px 0;
}
p:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}
p:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}
p:nth-child ::before    {
    border-top: 0;
  border-top-left-radius: 0;
}
p:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
p:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  

